* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
  /* border: 1px dashed blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
}

.App {
  /* border: 1px black solid; */
  width: min(550px, 100%);
  background-color: #444;
}

.display {
  /* border: 1px red solid; */
  height: 3rem;
  background-color: #a48888;
  width: 500px;
  margin: 0.5rem auto;
  padding: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #d3d3d3;
  transition: all 0.5s ease;
}

.input-container {
  width: 500px;
  overflow-x: auto;
  /* border: 1px black solid; */
  margin: 0.5rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.4rem;
  padding: 0.25rem;
  height: 500px;
}

.button {
  font-size: 1.5rem;
  color: antiquewhite;
  background-color: #1d2c3a;
  display: grid;
  place-content: center;
}

.equals-button {
  grid-column: 1/5;

}

.App,
.button,
.display,
.input-container {
  border-radius: 15px;
}

.App__h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: monospace;
  padding: 0.25rem 0;
  color: #d3d3d3;
}